In [1]:
import tqdm
import numpy as np
import pandas as pd
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.arima_model import ARIMAResults
from sklearn.metrics import mean_squared_error

In [2]:
# # to ignore warnings when fitting arima
# import warnings
# warnings.filterwarnings("ignore")

In [3]:
# read articles which were translated from Ukr to Eng
# this will be a filter for test
import pickle

pkl_file = open('pages.pkl', 'rb')
df = pickle.load(pkl_file)

In [35]:
# read data where each row has a structure: (datetime, pagen_name, [features])
df = pd.read_csv("40days100pages.csv")

In [33]:
df[:5]

,Unnamed: 0,timestamp,page_name,revisions_count,contributors_count,age_of_page_days
0,0,2018-06-07T12:00:00Z,Himantolophus_borealis,5,1,1294
1,1,2018-06-07T12:00:00Z,Himantolophus_brevirostris,6,2,1294
2,2,2018-06-07T12:00:00Z,Himantolophus_compressus,7,3,1294
3,3,2018-06-07T12:00:00Z,Himantolophus_cornifer,9,2,1294
4,4,2018-06-07T12:00:00Z,Himantolophus_crinitus,4,2,1294

In [34]:
df[df['page_name']=='Himantolophus_borealis'][:5]

,Unnamed: 0,timestamp,page_name,revisions_count,contributors_count,age_of_page_days
0,0,2018-06-07T12:00:00Z,Himantolophus_borealis,5,1,1294
100,100,2018-06-06T12:00:00Z,Himantolophus_borealis,5,1,1293
200,200,2018-06-05T12:00:00Z,Himantolophus_borealis,5,1,1292
300,300,2018-06-04T12:00:00Z,Himantolophus_borealis,5,1,1291
400,400,2018-06-03T12:00:00Z,Himantolophus_borealis,5,1,1290

In [18]:
df.describe()

        Unnamed: 0  revisions_count  contributors_count  age_of_page_days
count  4000.000000      4000.000000         4000.000000       4000.000000
mean   1999.500000        19.505500           10.015000       2834.289000
std    1154.844867        51.502681           12.913383       1437.922958
min       0.000000         1.000000            1.000000        287.000000
25%     999.750000         5.000000            2.000000       1323.000000
50%    1999.500000        11.000000            8.500000       3354.000000
75%    2999.250000        16.500000           13.000000       4189.000000
max    3999.000000       472.000000          112.000000       4463.000000

In [89]:
# find coefficient characterising trend of TS by fitting a simple arima
def get_trend(dataset):
    if dataset.std() == 0:
        return 0
    else:
        model = ARIMA(dataset, order=(1,0,0))
        model_fit = model.fit()
        return model_fit.arparams[0]

In [43]:
dataset = df[df['page_name']=='Himantolophus_borealis']
dataset.sort_values(by = ['timestamp'],ascending=False)
dataset[:5]

,Unnamed: 0,timestamp,page_name,revisions_count,contributors_count,age_of_page_days
0,0,2018-06-07T12:00:00Z,Himantolophus_borealis,5,1,1294
100,100,2018-06-06T12:00:00Z,Himantolophus_borealis,5,1,1293
200,200,2018-06-05T12:00:00Z,Himantolophus_borealis,5,1,1292
300,300,2018-06-04T12:00:00Z,Himantolophus_borealis,5,1,1291
400,400,2018-06-03T12:00:00Z,Himantolophus_borealis,5,1,1290

In [71]:
def initiate_stats_dict(ts_column_names):
    feature_dict = { 'page_name':[] }
    ts_features = [
        'mean',
        'std',
        'ar',
        'max',
        'min',
        'avg_last_week',
        'avg_last_month',
        'avg_all_period'
    ]
    for col in ts_column_names:
        for feature in ts_features:
            feature_dict[col+'_'+feature] = []
    return feature_dict

In [72]:
unique_pages = df['page_name'].unique()
# ts_columns should be hard coded...
ts_column_names = [
    'revisions_count', 
    'contributors_count'
#     'age_of_page_days'
]

In [73]:
stats = initiate_stats_dict(ts_column_names)
stats

{'contributors_count_ar': [],
 'contributors_count_avg_all_period': [],
 'contributors_count_avg_last_month': [],
 'contributors_count_avg_last_week': [],
 'contributors_count_max': [],
 'contributors_count_mean': [],
 'contributors_count_min': [],
 'contributors_count_std': [],
 'page_name': [],
 'revisions_count_ar': [],
 'revisions_count_avg_all_period': [],
 'revisions_count_avg_last_month': [],
 'revisions_count_avg_last_week': [],
 'revisions_count_max': [],
 'revisions_count_mean': [],
 'revisions_count_min': [],
 'revisions_count_std': []}

In [74]:
for page in unique_pages:
    stats['page_name'].append(page)
    page_data = df[df['page_name'] == page].sort_values(by = ['timestamp'],ascending=False)
    for col in ts_column_names:
        page_ts = page_data[col].values
#         stats[col+'_'+'count_records'].append(len(page_ts))
        stats[col+'_'+'mean'].append(page_ts.mean())
        stats[col+'_'+'std'].append(page_ts.std())
        stats[col+'_'+'min'].append(page_ts.min())
        stats[col+'_'+'max'].append(page_ts.max())
        stats[col+'_'+'ar'].append(get_trend(page_ts))
        stats[col+'_'+'avg_last_week'].append(np.average(page_ts[:7]))
        stats[col+'_'+'avg_last_month'].append(np.average(page_ts[:30]))
        stats[col+'_'+'avg_all_period'].append(np.average(page_ts))

In [75]:
stats

{'contributors_count_ar': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0.94818226145364404,
  0.94818226145364404,
  0.94818226145364404,
  0.94818225292017222,
  0.94818224627325809,
  0.94818227987173009,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0.88856211160988274,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 'contributors_count_avg_all_period': [1.0,
  2.0,
  3.0,
  2.0,
  2.0,
  1.0,
  2.0,
  2.0,
  1.0,
  2.0,
  2.0,
  1.0,
  1.0,
  2.0,
  2.0,
  2.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  3.0,
  16.0,
  31.0,
  3.0,
  7.0,
  22.0,
  8.0,
  1.0,
  48.0,
  7.0,
  5.0,
  18.0,
  4.0,
  5.0,
  4.0,
  1.0,
  1.0,
  26.0,
  6.0,
  2.0,
  11.425000000000001,
  11.425000000000001,
  11.425000000000001,
  12.425000000000001,
  20.425000000000001,
  16.425000000000001,
  10.0,
  13.0,
  18.0,
  16.0,
  9.0,
  16.0,
  16.0,
  9.0,
  7.0,
  16.0,
  10.0,
  11.0,
  11.0,
  12.0,
  8.0,
  9.0,
  14.0,
  16.0,
  8.0,
  8.0,
  9.0,
  11.0,
  19.0,
  18.0,
  20.0,
  11.0,
  11.0,
  12.0,
  11.0,
  13.0,
  11.0,
  12.0,
  24.0,
  12.0,
  9.0,
  12.0,
  110.95,
  1.0,
  10.0,
  7.0,
  1.0,
  1.0,
  1.0,
  6.0,
  17.0,
  1.0,
  1.0,
  1.0,
  25.0,
  1.0,
  18.0,
  12.0],
 'contributors_count_avg_last_month': [1.0,
  2.0,
  3.0,
  2.0,
  2.0,
  1.0,
  2.0,
  2.0,
  1.0,
  2.0,
  2.0,
  1.0,
  1.0,
  2.0,
  2.0,
  2.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  3.0,
  16.0,
  31.0,
  3.0,
  7.0,
  22.0,
  8.0,
  1.0,
  48.0,
  7.0,
  5.0,
  18.0,
  4.0,
  5.0,
  4.0,
  1.0,
  1.0,
  26.0,
  6.0,
  2.0,
  11.566666666666666,
  11.566666666666666,
  11.566666666666666,
  12.566666666666666,
  20.566666666666666,
  16.566666666666666,
  10.0,
  13.0,
  18.0,
  16.0,
  9.0,
  16.0,
  16.0,
  9.0,
  7.0,
  16.0,
  10.0,
  11.0,
  11.0,
  12.0,
  8.0,
  9.0,
  14.0,
  16.0,
  8.0,
  8.0,
  9.0,
  11.0,
  19.0,
  18.0,
  20.0,
  11.0,
  11.0,
  12.0,
  11.0,
  13.0,
  11.0,
  12.0,
  24.0,
  12.0,
  9.0,
  12.0,
  111.03333333333333,
  1.0,
  10.0,
  7.0,
  1.0,
  1.0,
  1.0,
  6.0,
  17.0,
  1.0,
  1.0,
  1.0,
  25.0,
  1.0,
  18.0,
  12.0],
 'contributors_count_avg_last_week': [1.0,
  2.0,
  3.0,
  2.0,
  2.0,
  1.0,
  2.0,
  2.0,
  1.0,
  2.0,
  2.0,
  1.0,
  1.0,
  2.0,
  2.0,
  2.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  3.0,
  16.0,
  31.0,
  3.0,
  7.0,
  22.0,
  8.0,
  1.0,
  48.0,
  7.0,
  5.0,
  18.0,
  4.0,
  5.0,
  4.0,
  1.0,
  1.0,
  26.0,
  6.0,
  2.0,
  12.0,
  12.0,
  12.0,
  13.0,
  21.0,
  17.0,
  10.0,
  13.0,
  18.0,
  16.0,
  9.0,
  16.0,
  16.0,
  9.0,
  7.0,
  16.0,
  10.0,
  11.0,
  11.0,
  12.0,
  8.0,
  9.0,
  14.0,
  16.0,
  8.0,
  8.0,
  9.0,
  11.0,
  19.0,
  18.0,
  20.0,
  11.0,
  11.0,
  12.0,
  11.0,
  13.0,
  11.0,
  12.0,
  24.0,
  12.0,
  9.0,
  12.0,
  111.14285714285714,
  1.0,
  10.0,
  7.0,
  1.0,
  1.0,
  1.0,
  6.0,
  17.0,
  1.0,
  1.0,
  1.0,
  25.0,
  1.0,
  18.0,
  12.0],
 'contributors_count_max': [1,
  2,
  3,
  2,
  2,
  1,
  2,
  2,
  1,
  2,
  2,
  1,
  1,
  2,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  16,
  31,
  3,
  7,
  22,
  8,
  1,
  48,
  7,
  5,
  18,
  4,
  5,
  4,
  1,
  1,
  26,
  6,
  2,
  12,
  12,
  12,
  13,
  21,
  17,
  10,
  13,
  18,
  16,
  9,
  16,
  16,
  9,
  7,
  16,
  10,
  11,
  11,
  12,
  8,
  9,
  14,
  16,
  8,
  8,
  9,
  11,
  19,
  18,
  20,
  11,
  11,
  12,
  11,
  13,
  11,
  12,
  24,
  12,
  9,
  12,
  112,
  1,
  10,
  7,
  1,
  1,
  1,
  6,
  17,
  1,
  1,
  1,
  25,
  1,
  18,
  12],
 'contributors_count_mean': [1.0,
  2.0,
  3.0,
  2.0,
  2.0,
  1.0,
  2.0,
  2.0,
  1.0,
  2.0,
  2.0,
  1.0,
  1.0,
  2.0,
  2.0,
  2.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  3.0,
  16.0,
  31.0,
  3.0,
  7.0,
  22.0,
  8.0,
  1.0,
  48.0,
  7.0,
  5.0,
  18.0,
  4.0,
  5.0,
  4.0,
  1.0,
  1.0,
  26.0,
  6.0,
  2.0,
  11.425000000000001,
  11.425000000000001,
  11.425000000000001,
  12.425000000000001,
  20.425000000000001,
  16.425000000000001,
  10.0,
  13.0,
  18.0,
  16.0,
  9.0,
  16.0,
  16.0,
  9.0,
  7.0,
  16.0,
  10.0,
  11.0,
  11.0,
  12.0,
  8.0,
  9.0,
  14.0,
  16.0,
  8.0,
  8.0,
  9.0,
  11.0,
  19.0,
  18.0,
  20.0,
  11.0,
  11.0,
  12.0,
  11.0,
  13.0,
  11.0,
  12.0,
  24.0,
  12.0,
  9.0,
  12.0,
  110.95,
  1.0,
  10.0,
  7.0,
  1.0,
  1.0,
  1.0,
  6.0,
  17.0,
  1.0,
  1.0,
  1.0,
  25.0,
  1.0,
  18.0,
  12.0],
 'contributors_count_min': [1,
  2,
  3,
  2,
  2,
  1,
  2,
  2,
  1,
  2,
  2,
  1,
  1,
  2,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  16,
  31,
  3,
  7,
  22,
  8,
  1,
  48,
  7,
  5,
  18,
  4,
  5,
  4,
  1,
  1,
  26,
  6,
  2,
  11,
  11,
  11,
  12,
  20,
  16,
  10,
  13,
  18,
  16,
  9,
  16,
  16,
  9,
  7,
  16,
  10,
  11,
  11,
  12,
  8,
  9,
  14,
  16,
  8,
  8,
  9,
  11,
  19,
  18,
  20,
  11,
  11,
  12,
  11,
  13,
  11,
  12,
  24,
  12,
  9,
  12,
  110,
  1,
  10,
  7,
  1,
  1,
  1,
  6,
  17,
  1,
  1,
  1,
  25,
  1,
  18,
  12],
 'contributors_count_std': [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.49434299833212969,
  0.49434299833212969,
  0.49434299833212969,
  0.49434299833212969,
  0.49434299833212969,
  0.49434299833212969,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.31224989991991992,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 'page_name': ['Himantolophus_borealis',
  'Himantolophus_brevirostris',
  'Himantolophus_compressus',
  'Himantolophus_cornifer',
  'Himantolophus_crinitus',
  'Himantolophus_danae',
  'Himantolophus_litoceras',
  'Himantolophus_macroceras',
  'Himantolophus_macroceratoides',
  'Himantolophus_mauli',
  'Himantolophus_melanolophus',
  'Himantolophus_multifurcatus',
  'Himantolophus_nigricornis',
  'Himantolophus_paucifilosus',
  'Himantolophus_pseudalbinares',
  'Himantolophus_stewarti',
  'Hipposideros_commersoni',
  'Hipposideros_griffini',
  'Hipposideros_khaokhouayensis',
  'Hipposideros_pelingensis',
  'Hipposideros_rotalis',
  'Hipposideros_scutinares',
  'Histiotus_magellanicus',
  'Historia_Naturalis_Brasiliae',
  'Hoegaarden',
  'Hold_On_(пісня_Young_Buck)',
  'Homestead',
  'Honda_FCX',
  'Honda_Odyssey',
  'Honda_RCV1000R',
  'Honeymoon',
  'Hoplostethus_druzhinini',
  'Hoplostethus_mento',
  'Humanoid_(альбом)',
  'Hybognathus_regius',
  'Hydac',
  'Hylomys_megalotis',
  'Hypsugo_dolichodon',
  'Hyundai_Xcient',
  'Hyundai_ix35',
  'I_Call_Your_Name_(a-ha)',
  "I'll_Fly_for_You",
  'IC_1011',
  'IC_1059',
  'IC_1065',
  'IC_1295',
  'IC_1318',
  'IC_1396',
  'IC_1517',
  'IC_167',
  'IC_1805',
  'IC_1848',
  'IC_2006',
  'IC_2149',
  'IC_2177',
  'IC_2220',
  'IC_2233',
  'IC_2391',
  'IC_2395',
  'IC_2448',
  'IC_2488',
  'IC_2497',
  'IC_2560',
  'IC_2714',
  'IC_289',
  'IC_298',
  'IC_3',
  'IC_335',
  'IC_3418',
  'IC_348',
  'IC_349',
  'IC_3568',
  'IC_405',
  'IC_4499',
  'IC_4526',
  'IC_4592',
  'IC_4604',
  'IC_4628',
  'IC_4651',
  'IC_4703',
  'IC_5146',
  'IC_5148',
  'IC_5332',
  'IC_883',
  'ICTV',
  'IDO2',
  'IEC_60870-5',
  'IFA_W50',
  'IFT27',
  'IGFLR1',
  'IGLL5',
  "III_з'їзд_РСДРП",
  'IMC_Global',
  'IMOCA',
  'INCA1',
  'INO80E',
  'INOGATE',
  'INPP5F',
  'INRI',
  'IPhone_8'],
 'revisions_count_ar': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0.94818228660019321,
  0.94818225292017222,
  0.94818226789261939,
  0.94818226464741839,
  0.94818228732452481,
  0.94818227905359942,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0.77649117246600297,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 'revisions_count_avg_all_period': [5.0,
  6.0,
  7.0,
  9.0,
  4.0,
  5.0,
  5.0,
  7.0,
  3.0,
  5.0,
  5.0,
  4.0,
  3.0,
  4.0,
  6.0,
  6.0,
  2.0,
  1.0,
  1.0,
  2.0,
  2.0,
  2.0,
  3.0,
  21.0,
  59.0,
  5.0,
  8.0,
  60.0,
  40.0,
  16.0,
  472.0,
  11.0,
  10.0,
  29.0,
  10.0,
  12.0,
  6.0,
  1.0,
  22.0,
  51.0,
  8.0,
  4.0,
  13.425000000000001,
  12.425000000000001,
  15.425000000000001,
  14.425000000000001,
  22.425000000000001,
  18.425000000000001,
  11.0,
  14.0,
  20.0,
  19.0,
  10.0,
  19.0,
  20.0,
  11.0,
  9.0,
  19.0,
  12.0,
  13.0,
  12.0,
  13.0,
  10.0,
  11.0,
  16.0,
  18.0,
  9.0,
  9.0,
  10.0,
  12.0,
  21.0,
  21.0,
  23.0,
  11.0,
  11.0,
  14.0,
  11.0,
  13.0,
  12.0,
  12.0,
  25.0,
  13.0,
  9.0,
  13.0,
  226.0,
  1.0,
  13.0,
  15.0,
  1.0,
  1.0,
  1.0,
  7.0,
  23.0,
  5.0,
  1.0,
  1.0,
  43.0,
  1.0,
  20.0,
  47.0],
 'revisions_count_avg_last_month': [5.0,
  6.0,
  7.0,
  9.0,
  4.0,
  5.0,
  5.0,
  7.0,
  3.0,
  5.0,
  5.0,
  4.0,
  3.0,
  4.0,
  6.0,
  6.0,
  2.0,
  1.0,
  1.0,
  2.0,
  2.0,
  2.0,
  3.0,
  21.0,
  59.0,
  5.0,
  8.0,
  60.0,
  40.0,
  16.0,
  472.0,
  11.0,
  10.0,
  29.0,
  10.0,
  12.0,
  6.0,
  1.0,
  22.0,
  51.0,
  8.0,
  4.0,
  13.566666666666666,
  12.566666666666666,
  15.566666666666666,
  14.566666666666666,
  22.566666666666666,
  18.566666666666666,
  11.0,
  14.0,
  20.0,
  19.0,
  10.0,
  19.0,
  20.0,
  11.0,
  9.0,
  19.0,
  12.0,
  13.0,
  12.0,
  13.0,
  10.0,
  11.0,
  16.0,
  18.0,
  9.0,
  9.0,
  10.0,
  12.0,
  21.0,
  21.0,
  23.0,
  11.0,
  11.0,
  14.0,
  11.0,
  13.0,
  12.0,
  12.0,
  25.0,
  13.0,
  9.0,
  13.0,
  226.09999999999999,
  1.0,
  13.0,
  15.0,
  1.0,
  1.0,
  1.0,
  7.0,
  23.0,
  5.0,
  1.0,
  1.0,
  43.0,
  1.0,
  20.0,
  47.0],
 'revisions_count_avg_last_week': [5.0,
  6.0,
  7.0,
  9.0,
  4.0,
  5.0,
  5.0,
  7.0,
  3.0,
  5.0,
  5.0,
  4.0,
  3.0,
  4.0,
  6.0,
  6.0,
  2.0,
  1.0,
  1.0,
  2.0,
  2.0,
  2.0,
  3.0,
  21.0,
  59.0,
  5.0,
  8.0,
  60.0,
  40.0,
  16.0,
  472.0,
  11.0,
  10.0,
  29.0,
  10.0,
  12.0,
  6.0,
  1.0,
  22.0,
  51.0,
  8.0,
  4.0,
  14.0,
  13.0,
  16.0,
  15.0,
  23.0,
  19.0,
  11.0,
  14.0,
  20.0,
  19.0,
  10.0,
  19.0,
  20.0,
  11.0,
  9.0,
  19.0,
  12.0,
  13.0,
  12.0,
  13.0,
  10.0,
  11.0,
  16.0,
  18.0,
  9.0,
  9.0,
  10.0,
  12.0,
  21.0,
  21.0,
  23.0,
  11.0,
  11.0,
  14.0,
  11.0,
  13.0,
  12.0,
  12.0,
  25.0,
  13.0,
  9.0,
  13.0,
  226.42857142857142,
  1.0,
  13.0,
  15.0,
  1.0,
  1.0,
  1.0,
  7.0,
  23.0,
  5.0,
  1.0,
  1.0,
  43.0,
  1.0,
  20.0,
  47.0],
 'revisions_count_max': [5,
  6,
  7,
  9,
  4,
  5,
  5,
  7,
  3,
  5,
  5,
  4,
  3,
  4,
  6,
  6,
  2,
  1,
  1,
  2,
  2,
  2,
  3,
  21,
  59,
  5,
  8,
  60,
  40,
  16,
  472,
  11,
  10,
  29,
  10,
  12,
  6,
  1,
  22,
  51,
  8,
  4,
  14,
  13,
  16,
  15,
  23,
  19,
  11,
  14,
  20,
  19,
  10,
  19,
  20,
  11,
  9,
  19,
  12,
  13,
  12,
  13,
  10,
  11,
  16,
  18,
  9,
  9,
  10,
  12,
  21,
  21,
  23,
  11,
  11,
  14,
  11,
  13,
  12,
  12,
  25,
  13,
  9,
  13,
  229,
  1,
  13,
  15,
  1,
  1,
  1,
  7,
  23,
  5,
  1,
  1,
  43,
  1,
  20,
  47],
 'revisions_count_mean': [5.0,
  6.0,
  7.0,
  9.0,
  4.0,
  5.0,
  5.0,
  7.0,
  3.0,
  5.0,
  5.0,
  4.0,
  3.0,
  4.0,
  6.0,
  6.0,
  2.0,
  1.0,
  1.0,
  2.0,
  2.0,
  2.0,
  3.0,
  21.0,
  59.0,
  5.0,
  8.0,
  60.0,
  40.0,
  16.0,
  472.0,
  11.0,
  10.0,
  29.0,
  10.0,
  12.0,
  6.0,
  1.0,
  22.0,
  51.0,
  8.0,
  4.0,
  13.425000000000001,
  12.425000000000001,
  15.425000000000001,
  14.425000000000001,
  22.425000000000001,
  18.425000000000001,
  11.0,
  14.0,
  20.0,
  19.0,
  10.0,
  19.0,
  20.0,
  11.0,
  9.0,
  19.0,
  12.0,
  13.0,
  12.0,
  13.0,
  10.0,
  11.0,
  16.0,
  18.0,
  9.0,
  9.0,
  10.0,
  12.0,
  21.0,
  21.0,
  23.0,
  11.0,
  11.0,
  14.0,
  11.0,
  13.0,
  12.0,
  12.0,
  25.0,
  13.0,
  9.0,
  13.0,
  226.0,
  1.0,
  13.0,
  15.0,
  1.0,
  1.0,
  1.0,
  7.0,
  23.0,
  5.0,
  1.0,
  1.0,
  43.0,
  1.0,
  20.0,
  47.0],
 'revisions_count_min': [5,
  6,
  7,
  9,
  4,
  5,
  5,
  7,
  3,
  5,
  5,
  4,
  3,
  4,
  6,
  6,
  2,
  1,
  1,
  2,
  2,
  2,
  3,
  21,
  59,
  5,
  8,
  60,
  40,
  16,
  472,
  11,
  10,
  29,
  10,
  12,
  6,
  1,
  22,
  51,
  8,
  4,
  13,
  12,
  15,
  14,
  22,
  18,
  11,
  14,
  20,
  19,
  10,
  19,
  20,
  11,
  9,
  19,
  12,
  13,
  12,
  13,
  10,
  11,
  16,
  18,
  9,
  9,
  10,
  12,
  21,
  21,
  23,
  11,
  11,
  14,
  11,
  13,
  12,
  12,
  25,
  13,
  9,
  13,
  225,
  1,
  13,
  15,
  1,
  1,
  1,
  7,
  23,
  5,
  1,
  1,
  43,
  1,
  20,
  47],
 'revisions_count_std': [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.49434299833212969,
  0.49434299833212969,
  0.49434299833212969,
  0.49434299833212969,
  0.49434299833212969,
  0.49434299833212969,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.54772255750516607,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0]}

In [76]:
result = pd.DataFrame.from_dict(stats)
result[:5]

,contributors_count_ar,contributors_count_avg_all_period,contributors_count_avg_last_month,contributors_count_avg_last_week,contributors_count_max,contributors_count_mean,contributors_count_min,contributors_count_std,page_name,revisions_count_ar,revisions_count_avg_all_period,revisions_count_avg_last_month,revisions_count_avg_last_week,revisions_count_max,revisions_count_mean,revisions_count_min,revisions_count_std
0,0.0,1.0,1.0,1.0,1,1.0,1,0.0,Himantolophus_borealis,0.0,5.0,5.0,5.0,5,5.0,5,0.0
1,0.0,2.0,2.0,2.0,2,2.0,2,0.0,Himantolophus_brevirostris,0.0,6.0,6.0,6.0,6,6.0,6,0.0
2,0.0,3.0,3.0,3.0,3,3.0,3,0.0,Himantolophus_compressus,0.0,7.0,7.0,7.0,7,7.0,7,0.0
3,0.0,2.0,2.0,2.0,2,2.0,2,0.0,Himantolophus_cornifer,0.0,9.0,9.0,9.0,9,9.0,9,0.0
4,0.0,2.0,2.0,2.0,2,2.0,2,0.0,Himantolophus_crinitus,0.0,4.0,4.0,4.0,4,4.0,4,0.0

In [81]:
# change order of columns
cols = result.columns.tolist()
cols = [cols[8]] +cols[:8] +cols[9:]
result = result[cols]

In [82]:
result.to_csv("../data/preprocessed.csv", index=False)