In [3]:
import urllib
import requests
import json
import datetime
from urllib.parse import quote, urlencode

import numpy as np
import pandas as pd
import pickle

In [2]:
HOST = "https://uk.wikipedia.org/w/api.php"

In [25]:
def getViews(page, start, end, project='uk.wikipedia'):
    """
    Get number of Views for certain page for every day between start and end. 
    params: page: which pages you want data for
    params: start: starting from this date
    params: end: end on this date
    params: project: which wiki
    return: df: created dataframe with timeseries
    
    """
    base_url = "https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/%s/all-access/all-agents/%s/daily/%s/%s" % (quote(project),page,start,end)
    data = urllib.request.urlopen(base_url)
    dataJson = json.loads(data.read().decode('utf-8'))['items']
    df = pd.DataFrame(dataJson) [['views','timestamp']]
    df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y%m%d%H')
    return df

In [39]:
temp_sum = 0
for j in range(0, 10):
        temp_sum  += j
        if temp_sum >= 5:
            eps = j
            break
            
print(eps)

3

In [4]:
def GetRevisions_andAge(pageTitle, timestamp):
    """
    Get number of Revisions for certain day 
    params: pageTitle: which pages you want data for
    params: timestamp: on which date
    return: users: all user revisions
    return: delta.days: age of page in days (from first revision till timestamp)
    """
    params = {}
    params["action"] = "query"
    params["format"] = "json"
    params["prop"] = "revisions"
    params["rvlimit"] = "1000"
    params["rvstart"] = timestamp #It goes down (new on top)
    users = []
    revs = []
    
    while True:
        response = urllib.request.urlopen(HOST + "?" + urlencode(params) + "&titles=" + quote(pageTitle)).read().decode('utf-8')
        dataJson = json.loads(response)
        pages = dataJson["query"]["pages"]
        key = list(pages.keys())[0]
        revisions = pages[key]['revisions']
        users = users + [rev["user"] for rev in revisions]
        revs = revs + [rev for rev in revisions]
        
        if "continue" in dataJson.keys():
            cont = dataJson["continue"]["rvcontinue"]
            params["rvcontinue"] = cont
        else:
            break
    last_revision = revs[-1]
    page_born = datetime.datetime.strptime(last_revision['timestamp'], '%Y-%m-%dT%H:%M:%SZ')
    timestamp_datetime = datetime.datetime.strptime(timestamp, '%Y-%m-%dT%H:%M:%SZ')

    # today = datetime.datetime.today()
    delta = timestamp_datetime - page_born
    return users, delta.days

In [34]:
def create_timeseries(page_titles, str_date_from, number_of_days):
    """
    Create timeseries start from given date and go older
    params: page_titles: which pages you want data for
    params: str_date_from: this and number_of_days before will be taken
    params: number_of_days: how many days back from start should we look
    return: df: created dataframe with timeseries
    """
    datetime_start = datetime.datetime.strptime(str_date_from, "%Y-%m-%dT%H:%M:%SZ")
    df = pd.DataFrame(columns=['timestamp','page_name','revisions_count','contributors_count','age_of_page_days'])
    for i in range(number_of_days):
        time_query  = datetime_start - datetime.timedelta(days=i)
        time_query_revs_str = time_query.strftime("%Y-%m-%dT%H:%M:%SZ")
        time_query_views_str = time_query.strftime("%Y%m%d00")
        print(time_query_revs_str)
        
        print("Run for {}, when took {} days back".format(time_query_revs_str, i))
        for page_name in page_titles:
            try:
                users_updated, age_of_page_days = GetRevisions_andAge(page_name,time_query_revs_str)
                revisions = len(users_updated)
                contributors = len(set(users_updated))
                try:
                    num_of_views = int(getViews(page_name,time_query_views_str,time_query_views_str).iloc[0]['views'])
                except:
                    num_of_views = 0
                df = df.append({'timestamp':time_query_revs_str,
                            'page_name':page_name,
                            'revisions_count':revisions,
                            'contributors_count':contributors,
                            'age_of_page_days':age_of_page_days,
                            'num_of_views':num_of_views
                            }, ignore_index=True)
            except  Exception as e:
                print("Error for page {} on {} day before".format(page_name, i))
                print("Error message: {}".format(e))
    return df

In [4]:
TEST_SUBSET = 100
DAYS = 40

In [7]:
titles

['Himantolophus_borealis',
 'Himantolophus_brevirostris',
 'Himantolophus_compressus',
 'Himantolophus_cornifer',
 'Himantolophus_crinitus',
 'Himantolophus_danae',
 'Himantolophus_litoceras',
 'Himantolophus_macroceras',
 'Himantolophus_macroceratoides',
 'Himantolophus_mauli',
 'Himantolophus_melanolophus',
 'Himantolophus_multifurcatus',
 'Himantolophus_nigricornis',
 'Himantolophus_paucifilosus',
 'Himantolophus_pseudalbinares',
 'Himantolophus_stewarti',
 'Hipposideros_commersoni',
 'Hipposideros_griffini',
 'Hipposideros_khaokhouayensis',
 'Hipposideros_pelingensis',
 'Hipposideros_rotalis',
 'Hipposideros_scutinares',
 'Histiotus_magellanicus',
 'Historia_Naturalis_Brasiliae',
 'Hoegaarden',
 'Hold_On_(пісня_Young_Buck)',
 'Homestead',
 'Honda_FCX',
 'Honda_Odyssey',
 'Honda_RCV1000R',
 'Honeymoon',
 'Hoplostethus_druzhinini',
 'Hoplostethus_mento',
 'Humanoid_(альбом)',
 'Hybognathus_regius',
 'Hydac',
 'Hylomys_megalotis',
 'Hypsugo_dolichodon',
 'Hyundai_Xcient',
 'Hyundai_ix35',
 'I_Call_Your_Name_(a-ha)',
 "I'll_Fly_for_You",
 'IC_1011',
 'IC_1059',
 'IC_1065',
 'IC_1295',
 'IC_1318',
 'IC_1396',
 'IC_1517',
 'IC_167',
 'IC_1805',
 'IC_1848',
 'IC_2006',
 'IC_2149',
 'IC_2177',
 'IC_2220',
 'IC_2233',
 'IC_2391',
 'IC_2395',
 'IC_2448',
 'IC_2488',
 'IC_2497',
 'IC_2560',
 'IC_2714',
 'IC_289',
 'IC_298',
 'IC_3',
 'IC_335',
 'IC_3418',
 'IC_348',
 'IC_349',
 'IC_3568',
 'IC_405',
 'IC_4499',
 'IC_4526',
 'IC_4592',
 'IC_4604',
 'IC_4628',
 'IC_4651',
 'IC_4703',
 'IC_5146',
 'IC_5148',
 'IC_5332',
 'IC_883',
 'ICTV',
 'IDO2',
 'IEC_60870-5',
 'IFA_W50',
 'IFT27',
 'IGFLR1',
 'IGLL5',
 "III_з'їзд_РСДРП",
 'IMC_Global',
 'IMOCA',
 'INCA1',
 'INO80E',
 'INOGATE',
 'INPP5F',
 'INRI',
 'IPhone_8']

In [30]:
import timeit

str_date_from = "2018-06-07T12:00:00Z"
datetime_start = datetime.datetime.strptime(str_date_from, "%Y-%m-%dT%H:%M:%SZ")
start  = datetime_start - datetime.timedelta(days=DAYS)
#time_query_revs_str = time_query.strftime("%Y-%m-%dT%H:%M:%SZ")
start = start.strftime("%Y%m%d00")
end = datetime_start
end = end.strftime("%Y%m%d00")

test = {}
start_time = timeit.default_timer()
for i, page_name in enumerate(titles):
    #print("https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/{}/all-access/all-agents/{}/daily/{}/{}".format(page_name, start, end,'uk.wikipedia'))
    
    try:
        test[page_name] = getViews(quote(page_name), start, end, project='uk.wikipedia')
    except:
        print("Failed for page {}".format(page_name))
stop = timeit.default_timer()
print("Elapsed time: {} s".format(stop-start_time))

Failed for page INCA1
Elapsed time: 24.4233717256295 s

In [27]:
test

{'Himantolophus_borealis':     views  timestamp
 0       1 2018-04-28
 1       1 2018-04-30
 2       1 2018-05-01
 3       2 2018-05-03
 4       1 2018-05-04
 5       1 2018-05-05
 6       1 2018-05-06
 7       1 2018-05-07
 8       1 2018-05-10
 9       1 2018-05-12
 10      1 2018-05-13
 11      1 2018-05-14
 12      1 2018-05-15
 13      1 2018-05-16
 14      1 2018-05-17
 15      1 2018-05-18
 16      1 2018-05-19
 17      3 2018-05-20
 18      1 2018-05-22
 19      1 2018-05-23
 20      1 2018-05-26
 21      1 2018-05-27
 22      1 2018-05-28
 23      1 2018-05-29
 24      1 2018-05-30
 25      1 2018-05-31
 26      1 2018-06-02
 27      2 2018-06-03
 28      1 2018-06-05
 29      2 2018-06-06
 30      1 2018-06-07, 'Himantolophus_brevirostris':    views  timestamp
 0      1 2018-05-09
 1      1 2018-05-12
 2      1 2018-05-16
 3      1 2018-05-19
 4      2 2018-05-27
 5      1 2018-06-03
 6      1 2018-06-06, 'Himantolophus_compressus':     views  timestamp
 0       1 2018-04-29
 1       1 2018-04-30
 2       1 2018-05-06
 3       1 2018-05-09
 4       1 2018-05-12
 5       1 2018-05-23
 6       1 2018-05-24
 7       1 2018-05-25
 8       1 2018-05-30
 9       1 2018-06-02
 10      1 2018-06-04
 11      1 2018-06-07, 'Himantolophus_cornifer':    views  timestamp
 0      2 2018-05-08
 1      1 2018-05-10
 2      1 2018-05-14
 3      1 2018-05-16
 4      1 2018-05-30
 5      1 2018-05-31
 6      1 2018-06-02
 7      1 2018-06-04
 8      1 2018-06-06, 'Himantolophus_crinitus':    views  timestamp
 0      1 2018-04-30
 1      1 2018-05-01
 2      1 2018-05-06
 3      1 2018-05-12
 4      1 2018-05-15
 5      1 2018-05-16
 6      1 2018-05-18
 7      1 2018-05-25, 'Himantolophus_danae':    views  timestamp
 0      1 2018-05-07
 1      1 2018-05-12
 2      1 2018-05-13
 3      1 2018-05-14
 4      1 2018-05-15
 5      1 2018-05-25
 6      1 2018-05-30
 7      1 2018-06-01
 8      1 2018-06-02, 'Himantolophus_litoceras':    views  timestamp
 0      1 2018-04-28
 1      1 2018-05-05
 2      1 2018-05-16
 3      1 2018-05-21, 'Himantolophus_macroceras':    views  timestamp
 0      1 2018-05-03
 1      2 2018-05-16
 2      2 2018-05-20
 3      1 2018-05-30
 4      1 2018-06-02, 'Himantolophus_macroceratoides':    views  timestamp
 0      1 2018-05-02
 1      1 2018-05-08
 2      1 2018-05-17
 3      1 2018-05-26
 4      1 2018-05-27
 5      1 2018-06-04
 6      1 2018-06-07, 'Himantolophus_mauli':    views  timestamp
 0      1 2018-04-30
 1      2 2018-05-01
 2      1 2018-05-03
 3      1 2018-05-05
 4      1 2018-05-14
 5      1 2018-05-16
 6      2 2018-05-17
 7      1 2018-05-25
 8      1 2018-05-30
 9      1 2018-06-06, 'Himantolophus_melanolophus':    views  timestamp
 0      1 2018-05-01
 1      1 2018-05-04
 2      1 2018-05-06
 3      1 2018-05-14
 4      2 2018-05-16
 5      1 2018-05-18
 6      1 2018-05-25
 7      1 2018-05-27
 8      1 2018-05-30
 9      1 2018-06-04, 'Himantolophus_multifurcatus':    views  timestamp
 0      1 2018-05-08
 1      2 2018-05-09
 2      1 2018-05-24
 3      1 2018-05-26
 4      1 2018-06-06, 'Himantolophus_nigricornis':    views  timestamp
 0      1 2018-05-16
 1      1 2018-05-18
 2      1 2018-05-19
 3      1 2018-05-23
 4      1 2018-05-29, 'Himantolophus_paucifilosus':     views  timestamp
 0       1 2018-05-02
 1       2 2018-05-08
 2       2 2018-05-09
 3       1 2018-05-10
 4       1 2018-05-14
 5       1 2018-05-16
 6       2 2018-05-27
 7       1 2018-05-30
 8       1 2018-06-02
 9       1 2018-06-03
 10      1 2018-06-06, 'Himantolophus_pseudalbinares':     views  timestamp
 0       2 2018-04-28
 1       1 2018-04-30
 2       1 2018-05-01
 3       1 2018-05-03
 4       1 2018-05-04
 5       1 2018-05-05
 6       1 2018-05-06
 7       1 2018-05-07
 8       1 2018-05-10
 9       1 2018-05-12
 10      1 2018-05-13
 11      1 2018-05-14
 12      1 2018-05-15
 13      1 2018-05-16
 14      1 2018-05-17
 15      1 2018-05-18
 16      1 2018-05-19
 17      2 2018-05-20
 18      1 2018-05-22
 19      1 2018-05-23
 20      1 2018-05-26
 21      1 2018-05-27
 22      1 2018-05-28
 23      3 2018-05-30
 24      2 2018-05-31
 25      1 2018-06-02
 26      2 2018-06-03
 27      1 2018-06-05
 28      1 2018-06-06
 29      1 2018-06-07, 'Himantolophus_stewarti':    views  timestamp
 0      1 2018-04-29
 1      1 2018-05-08
 2      1 2018-05-15
 3      2 2018-05-20
 4      1 2018-05-22
 5      1 2018-05-28
 6      1 2018-06-02
 7      1 2018-06-04, 'Hipposideros_commersoni':     views  timestamp
 0       2 2018-05-01
 1       1 2018-05-02
 2       1 2018-05-03
 3       1 2018-05-05
 4       1 2018-05-07
 5       1 2018-05-08
 6       1 2018-05-09
 7       2 2018-05-10
 8       1 2018-05-15
 9       1 2018-05-27
 10      2 2018-06-05, 'Hipposideros_griffini':    views  timestamp
 0      1 2018-04-30
 1      1 2018-05-09
 2      1 2018-05-16
 3      1 2018-05-21
 4      1 2018-05-22
 5      1 2018-05-30
 6      1 2018-06-05, 'Hipposideros_khaokhouayensis':    views  timestamp
 0      1 2018-05-04
 1      1 2018-05-13
 2      1 2018-05-18
 3      1 2018-05-28
 4      1 2018-05-30
 5      1 2018-06-04
 6      1 2018-06-06, 'Hipposideros_pelingensis':    views  timestamp
 0      1 2018-04-29
 1      1 2018-04-30
 2      1 2018-05-03
 3      1 2018-05-08
 4      1 2018-05-10
 5      1 2018-05-16
 6      1 2018-05-23
 7      1 2018-05-24
 8      1 2018-06-04
 9      1 2018-06-05, 'Hipposideros_rotalis':    views  timestamp
 0      1 2018-04-30
 1      2 2018-05-02
 2      1 2018-05-03
 3      1 2018-05-06
 4      1 2018-05-13
 5      2 2018-05-16
 6      1 2018-05-22
 7      1 2018-06-06, 'Hipposideros_scutinares':    views  timestamp
 0      1 2018-05-01
 1      1 2018-05-05
 2      2 2018-05-10
 3      1 2018-05-12
 4      1 2018-05-19
 5      1 2018-05-29
 6      1 2018-06-01
 7      1 2018-06-02
 8      1 2018-06-05, 'Histiotus_magellanicus':    views  timestamp
 0      1 2018-05-13
 1      1 2018-05-22
 2      1 2018-05-23
 3      1 2018-05-30, 'Historia_Naturalis_Brasiliae':     views  timestamp
 0       1 2018-04-28
 1       1 2018-04-30
 2       1 2018-05-03
 3       1 2018-05-09
 4       2 2018-05-13
 5       1 2018-05-18
 6       1 2018-05-21
 7       1 2018-05-23
 8       2 2018-05-29
 9       1 2018-06-03
 10      1 2018-06-04, 'Hoegaarden':     views  timestamp
 0      12 2018-04-28
 1      13 2018-04-29
 2      24 2018-04-30
 3      13 2018-05-01
 4       8 2018-05-02
 5      12 2018-05-03
 6      15 2018-05-04
 7      24 2018-05-05
 8      19 2018-05-06
 9      14 2018-05-07
 10     21 2018-05-08
 11     16 2018-05-09
 12     10 2018-05-10
 13     13 2018-05-11
 14     26 2018-05-12
 15     17 2018-05-13
 16      9 2018-05-14
 17     12 2018-05-15
 18     10 2018-05-16
 19      8 2018-05-17
 20     15 2018-05-18
 21     24 2018-05-19
 22     18 2018-05-20
 23     19 2018-05-21
 24      9 2018-05-22
 25     12 2018-05-23
 26     15 2018-05-24
 27      9 2018-05-25
 28     15 2018-05-26
 29     13 2018-05-27
 30     15 2018-05-28
 31     10 2018-05-29
 32     18 2018-05-30
 33     12 2018-05-31
 34     17 2018-06-01
 35     10 2018-06-02
 36      5 2018-06-03
 37      7 2018-06-04
 38     20 2018-06-05
 39     14 2018-06-06
 40     15 2018-06-07}

In [6]:
#Load Yurii data

pkl_file = open('pages.pkl', 'rb')
data1 = pickle.load(pkl_file)

titles = [i[0].replace(" ", "_") for i in data1] # only Ukr titles
titles = titles[-TEST_SUBSET:]
#my_df = create_timeseries(titles, "2018-06-07T12:00:00Z", DAYS)
#my_df.to_csv('{}days{}pages.csv'.format(DAYS,TEST_SUBSET))

In [37]:
my_df

,timestamp,page_name,revisions_count,contributors_count,age_of_page_days,num_of_views
0,2018-06-07T12:00:00Z,"Dubai_Duty_Free_Women's_Open_2002,_одиночний_р...",4,2,164,0.0
1,2018-06-07T12:00:00Z,"Dubai_Tennis_Championships_2004,_жінки,_одиноч...",2,1,164,0.0
2,2018-06-07T12:00:00Z,Durban_Roodepoort_Deep,10,6,3974,0.0
3,2018-06-07T12:00:00Z,Dymchuk_Gallery,19,3,1048,1.0
4,2018-06-07T12:00:00Z,Dysphoria,18,7,1245,0.0
5,2018-06-07T12:00:00Z,E!,3,3,3460,1.0
6,2018-06-07T12:00:00Z,ECTS-оцінки,12,12,4330,0.0
7,2018-06-07T12:00:00Z,EEPD1,1,1,261,1.0
8,2018-06-07T12:00:00Z,EIFL,18,12,4492,1.0
9,2018-06-07T12:00:00Z,EJ_675,97,25,2243,7.0
10,2018-06-07T12:00:00Z,EL_Lada,6,3,1876,2.0
11,2018-06-07T12:00:00Z,ENTPD4,1,1,261,0.0
12,2018-06-07T12:00:00Z,ENTPD7,1,1,260,0.0
13,2018-06-07T12:00:00Z,ERT2,11,8,2788,2.0
14,2018-06-07T12:00:00Z,EUROAVIA,174,20,2194,1.0
15,2018-06-07T12:00:00Z,EX.UA,279,118,2715,25.0
16,2018-06-07T12:00:00Z,EXO5,1,1,262,0.0
17,2018-06-07T12:00:00Z,Early_Days:_Best_of_Led_Zeppelin_Volume_One,20,18,3627,1.0
18,2018-06-07T12:00:00Z,Echimys_vieirai,8,7,2633,0.0
19,2018-06-07T12:00:00Z,Echinocereus_coccineus,12,4,2692,1.0
20,2018-06-07T12:00:00Z,Echinocereus_fendleri,13,6,2692,0.0
21,2018-06-07T12:00:00Z,Echinocereus_knippelianus,18,7,2693,0.0
22,2018-06-07T12:00:00Z,Ecolines,28,16,2523,9.0
23,2018-06-07T12:00:00Z,Ecosia,6,6,1711,1.0
24,2018-06-07T12:00:00Z,Ecovias,7,6,3367,1.0
25,2018-06-07T12:00:00Z,Elaphe_anomala,9,4,1691,1.0
26,2018-06-07T12:00:00Z,Elaphe_davidi,13,3,1556,1.0
27,2018-06-07T12:00:00Z,Elaphrocnemus,15,2,1602,0.0
28,2018-06-07T12:00:00Z,Elaterinae,10,1,1295,0.0
29,2018-06-07T12:00:00Z,Elbogen,8,7,3988,0.0
...,...,...,...,...,...,...
19882,2018-04-29T12:00:00Z,IC_349,21,19,4121,0.0
19883,2018-04-29T12:00:00Z,IC_3568,21,18,4121,1.0
19884,2018-04-29T12:00:00Z,IC_405,23,20,4121,1.0
19885,2018-04-29T12:00:00Z,IC_4499,11,11,4121,0.0
19886,2018-04-29T12:00:00Z,IC_4526,11,11,4121,0.0
19887,2018-04-29T12:00:00Z,IC_4592,14,12,4121,0.0
19888,2018-04-29T12:00:00Z,IC_4604,11,11,4121,0.0
19889,2018-04-29T12:00:00Z,IC_4628,13,13,4121,0.0
19890,2018-04-29T12:00:00Z,IC_4651,12,11,4121,0.0
19891,2018-04-29T12:00:00Z,IC_4703,12,12,4121,0.0
19892,2018-04-29T12:00:00Z,IC_5146,25,24,4121,1.0
19893,2018-04-29T12:00:00Z,IC_5148,13,12,4121,0.0
19894,2018-04-29T12:00:00Z,IC_5332,9,9,4121,0.0
19895,2018-04-29T12:00:00Z,IC_883,13,12,4121,0.0
19896,2018-04-29T12:00:00Z,ICTV,225,110,4395,33.0
19897,2018-04-29T12:00:00Z,IDO2,1,1,221,0.0
19898,2018-04-29T12:00:00Z,IEC_60870-5,13,10,2875,0.0
19899,2018-04-29T12:00:00Z,IFA_W50,15,7,1974,3.0
19900,2018-04-29T12:00:00Z,IFT27,1,1,219,1.0
19901,2018-04-29T12:00:00Z,IGFLR1,1,1,219,0.0
19902,2018-04-29T12:00:00Z,IGLL5,1,1,219,0.0
19903,2018-04-29T12:00:00Z,III_з'їзд_РСДРП,7,6,3376,0.0
19904,2018-04-29T12:00:00Z,IMC_Global,23,17,4004,1.0
19905,2018-04-29T12:00:00Z,IMOCA,5,1,1045,0.0
19906,2018-04-29T12:00:00Z,INCA1,1,1,220,0.0
19907,2018-04-29T12:00:00Z,INO80E,1,1,220,0.0
19908,2018-04-29T12:00:00Z,INOGATE,43,25,3999,1.0
19909,2018-04-29T12:00:00Z,INPP5F,1,1,221,0.0
19910,2018-04-29T12:00:00Z,INRI,20,18,2945,13.0
19911,2018-04-29T12:00:00Z,IPhone_8,47,12,539,17.0

In [ ]:
# Not translated pages
df = pd.read_csv("C:/Users/kzorina/Studing/MMDS/not_eng_titles_500.csv")
titles = df['uk_title'].tolist()
titles = [i.replace(" ", "_") for i in titles]
titles = titles[50:100]
not_eng_df = create_timeseries(titles, "2018-06-07T12:00:00Z", DAYS)
not_eng_df.to_csv('Not_translated{}days{}pages.csv'.format(DAYS,100))

### Drafts

In [ ]:
#Demo how function works
users_updated, age_of_page_days = GetRevisions("Львів","2018-01-15T14:56:00Z")
revisions = len(users_updated)
contributors = len(set(users_updated))

print("Revisions: ".format(revisions))
print("contributors".format(contributors))
print("Age of page".format(age_of_page_days))

In [ ]:
# In development....
def get_lang():
    """
    For every title find its translations (among 10 lang for now)
    + get their first revision
    """