In [1]:
import urllib
import requests
import json
import datetime
from urllib.parse import quote, urlencode

import numpy as np
import pandas as pd
import pickle

In [2]:
HOST = "https://uk.wikipedia.org/w/api.php"

In [15]:
def GetRevisions(pageTitle, timestamp):
    params = {}
    params["action"] = "query"
    params["format"] = "json"
    params["prop"] = "revisions"
    params["rvlimit"] = "1000"
    params["rvstart"] = timestamp #It goes down
    #params["rvend"] = timestamp
    users = []
    revs = []
    
    while True:
        response = urllib.request.urlopen(HOST + "?" + urlencode(params) + "&titles=" + quote(pageTitle)).read().decode('utf-8')
        dataJson = json.loads(response)
        pages = dataJson["query"]["pages"]
        #print(pages)
        key = list(pages.keys())[0]
        revisions = pages[key]['revisions']
        users = users + [rev["user"] for rev in revisions]
        revs = revs + [rev for rev in revisions]
        
        if "continue" in dataJson.keys():
            cont = dataJson["continue"]["rvcontinue"]
            params["rvcontinue"] = cont
        else:
            break
    last_revision = revs[-1]
    page_born = datetime.datetime.strptime(last_revision['timestamp'], '%Y-%m-%dT%H:%M:%SZ')
    timestamp_datetime = datetime.datetime.strptime(timestamp, '%Y-%m-%dT%H:%M:%SZ')

    # today = datetime.datetime.today()
    delta = timestamp_datetime - page_born
    return users, delta.days

In [4]:
def create_timeseries(page_titles, str_date_from, number_of_days):
    """
    Create timeseries start from given date and go older
    params: page_titles: which pages you want data for
    params: str_date_from: this and number_of_days before will be taken
    params: number_of_days: how many days back from start should we look
    return: df: created dataframe with timeseries
    """
    datetime_start = datetime.datetime.strptime(str_date_from, "%Y-%m-%dT%H:%M:%SZ")
    df = pd.DataFrame(columns=['timestamp','page_name','revisions_count','contributors_count','age_of_page_days'])
    for i in range(number_of_days):
        time_query  = datetime_start - datetime.timedelta(days=i)
        time_query_str = time_query.strftime("%Y-%m-%dT%H:%M:%SZ")
        print("Run for {}, when took {} days back".format(time_query_str, i))
        for page_name in page_titles:
            try:
                users_updated, age_of_page_days = GetRevisions(page_name,time_query_str)
                revisions = len(users_updated)
                contributors = len(set(users_updated))
                df = df.append({'timestamp':time_query_str,
                            'page_name':page_name,
                            'revisions_count':revisions,
                            'contributors_count':contributors,
                            'age_of_page_days':age_of_page_days}, ignore_index=True)
            except:
                print("Error for page {} on {} day before".format(page_name, i))
    return df

In [ ]:
#Demo how function works
users_updated, age_of_page_days = GetRevisions("Львів","2018-01-15T14:56:00Z")
revisions = len(users_updated)
contributors = len(set(users_updated))

print("Revisions: ".format(revisions))
print("contributors".format(contributors))
print("Age of page".format(age_of_page_days))

In [5]:
#Load Yurii data

pkl_file = open('pages.pkl', 'rb')
data1 = pickle.load(pkl_file)

In [6]:
titles = [i[0].replace(" ", "_") for i in data1] # only Ukr titles

In [ ]:
my_df = create_timeseries(test, "2018-06-07T12:00:00Z", 40)

Run for 2018-06-07T12:00:00Z, when took 0 days back
Run for 2018-06-06T12:00:00Z, when took 1 days back
Run for 2018-06-05T12:00:00Z, when took 2 days back
Run for 2018-06-04T12:00:00Z, when took 3 days back
Run for 2018-06-03T12:00:00Z, when took 4 days back
Run for 2018-06-02T12:00:00Z, when took 5 days back
Run for 2018-06-01T12:00:00Z, when took 6 days back
Run for 2018-05-31T12:00:00Z, when took 7 days back
Run for 2018-05-30T12:00:00Z, when took 8 days back
Run for 2018-05-29T12:00:00Z, when took 9 days back
Run for 2018-05-28T12:00:00Z, when took 10 days back
Run for 2018-05-27T12:00:00Z, when took 11 days back
Run for 2018-05-26T12:00:00Z, when took 12 days back
Run for 2018-05-25T12:00:00Z, when took 13 days back
Run for 2018-05-24T12:00:00Z, when took 14 days back
Run for 2018-05-23T12:00:00Z, when took 15 days back
Run for 2018-05-22T12:00:00Z, when took 16 days back
Run for 2018-05-21T12:00:00Z, when took 17 days back
Run for 2018-05-20T12:00:00Z, when took 18 days back
Run for 2018-05-19T12:00:00Z, when took 19 days back
Run for 2018-05-18T12:00:00Z, when took 20 days back
Run for 2018-05-17T12:00:00Z, when took 21 days back
Run for 2018-05-16T12:00:00Z, when took 22 days back
Run for 2018-05-15T12:00:00Z, when took 23 days back
Run for 2018-05-14T12:00:00Z, when took 24 days back
Run for 2018-05-13T12:00:00Z, when took 25 days back
Run for 2018-05-12T12:00:00Z, when took 26 days back
Run for 2018-05-11T12:00:00Z, when took 27 days back
Run for 2018-05-10T12:00:00Z, when took 28 days back
Run for 2018-05-09T12:00:00Z, when took 29 days back
Run for 2018-05-08T12:00:00Z, when took 30 days back
Run for 2018-05-07T12:00:00Z, when took 31 days back
Run for 2018-05-06T12:00:00Z, when took 32 days back
Run for 2018-05-05T12:00:00Z, when took 33 days back

In [10]:
my_df

,timestamp,page_name,revisions_count,contributors_count,age_of_page_days
0,2018-06-07T12:00:00Z,Himantolophus_borealis,5,1,1323
1,2018-06-07T12:00:00Z,Himantolophus_brevirostris,6,2,1323
2,2018-06-07T12:00:00Z,Himantolophus_compressus,7,3,1323
3,2018-06-07T12:00:00Z,Himantolophus_cornifer,9,2,1323
4,2018-06-07T12:00:00Z,Himantolophus_crinitus,4,2,1323
5,2018-06-07T12:00:00Z,Himantolophus_danae,5,1,1323
6,2018-06-07T12:00:00Z,Himantolophus_litoceras,5,2,1323
7,2018-06-07T12:00:00Z,Himantolophus_macroceras,7,2,1323
8,2018-06-07T12:00:00Z,Himantolophus_macroceratoides,3,1,1323
9,2018-06-07T12:00:00Z,Himantolophus_mauli,5,2,1323
10,2018-06-07T12:00:00Z,Himantolophus_melanolophus,5,2,1323
11,2018-06-07T12:00:00Z,Himantolophus_multifurcatus,4,1,1323
12,2018-06-07T12:00:00Z,Himantolophus_nigricornis,3,1,1323
13,2018-06-07T12:00:00Z,Himantolophus_paucifilosus,4,2,1323
14,2018-06-07T12:00:00Z,Himantolophus_pseudalbinares,6,2,1323
15,2018-06-07T12:00:00Z,Himantolophus_stewarti,6,2,1323
16,2018-06-07T12:00:00Z,Hipposideros_commersoni,2,1,1917
17,2018-06-07T12:00:00Z,Hipposideros_griffini,1,1,1162
18,2018-06-07T12:00:00Z,Hipposideros_khaokhouayensis,1,1,1915
19,2018-06-07T12:00:00Z,Hipposideros_pelingensis,2,1,1915
20,2018-06-07T12:00:00Z,Hipposideros_rotalis,2,1,1915
21,2018-06-07T12:00:00Z,Hipposideros_scutinares,2,1,1915
22,2018-06-07T12:00:00Z,Histiotus_magellanicus,3,3,1956
23,2018-06-07T12:00:00Z,Historia_Naturalis_Brasiliae,21,16,3800
24,2018-06-07T12:00:00Z,Hoegaarden,59,31,3858
25,2018-06-07T12:00:00Z,Hold_On_(пісня_Young_Buck),5,3,1547
26,2018-06-07T12:00:00Z,Homestead,8,7,4015
27,2018-06-07T12:00:00Z,Honda_FCX,60,22,4070
28,2018-06-07T12:00:00Z,Honda_Odyssey,40,8,2938
29,2018-06-07T12:00:00Z,Honda_RCV1000R,16,1,1662
...,...,...,...,...,...
3970,2018-04-29T12:00:00Z,IC_349,21,19,4189
3971,2018-04-29T12:00:00Z,IC_3568,21,18,4189
3972,2018-04-29T12:00:00Z,IC_405,23,20,4189
3973,2018-04-29T12:00:00Z,IC_4499,11,11,4189
3974,2018-04-29T12:00:00Z,IC_4526,11,11,4189
3975,2018-04-29T12:00:00Z,IC_4592,14,12,4189
3976,2018-04-29T12:00:00Z,IC_4604,11,11,4189
3977,2018-04-29T12:00:00Z,IC_4628,13,13,4189
3978,2018-04-29T12:00:00Z,IC_4651,12,11,4189
3979,2018-04-29T12:00:00Z,IC_4703,12,12,4189
3980,2018-04-29T12:00:00Z,IC_5146,25,24,4189
3981,2018-04-29T12:00:00Z,IC_5148,13,12,4189
3982,2018-04-29T12:00:00Z,IC_5332,9,9,4189
3983,2018-04-29T12:00:00Z,IC_883,13,12,4189
3984,2018-04-29T12:00:00Z,ICTV,225,110,4463
3985,2018-04-29T12:00:00Z,IDO2,1,1,290
3986,2018-04-29T12:00:00Z,IEC_60870-5,13,10,2943
3987,2018-04-29T12:00:00Z,IFA_W50,15,7,2042
3988,2018-04-29T12:00:00Z,IFT27,1,1,287
3989,2018-04-29T12:00:00Z,IGFLR1,1,1,288
3990,2018-04-29T12:00:00Z,IGLL5,1,1,287
3991,2018-04-29T12:00:00Z,III_з'їзд_РСДРП,7,6,3444
3992,2018-04-29T12:00:00Z,IMC_Global,23,17,4072
3993,2018-04-29T12:00:00Z,IMOCA,5,1,1113
3994,2018-04-29T12:00:00Z,INCA1,1,1,288
3995,2018-04-29T12:00:00Z,INO80E,1,1,288
3996,2018-04-29T12:00:00Z,INOGATE,43,25,4067
3997,2018-04-29T12:00:00Z,INPP5F,1,1,290
3998,2018-04-29T12:00:00Z,INRI,20,18,3014
3999,2018-04-29T12:00:00Z,IPhone_8,47,12,607

In [16]:
test = titles[-100:]

In [8]:
test

['Himantolophus_borealis',
 'Himantolophus_brevirostris',
 'Himantolophus_compressus',
 'Himantolophus_cornifer',
 'Himantolophus_crinitus',
 'Himantolophus_danae',
 'Himantolophus_litoceras',
 'Himantolophus_macroceras',
 'Himantolophus_macroceratoides',
 'Himantolophus_mauli',
 'Himantolophus_melanolophus',
 'Himantolophus_multifurcatus',
 'Himantolophus_nigricornis',
 'Himantolophus_paucifilosus',
 'Himantolophus_pseudalbinares',
 'Himantolophus_stewarti',
 'Hipposideros_commersoni',
 'Hipposideros_griffini',
 'Hipposideros_khaokhouayensis',
 'Hipposideros_pelingensis',
 'Hipposideros_rotalis',
 'Hipposideros_scutinares',
 'Histiotus_magellanicus',
 'Historia_Naturalis_Brasiliae',
 'Hoegaarden',
 'Hold_On_(пісня_Young_Buck)',
 'Homestead',
 'Honda_FCX',
 'Honda_Odyssey',
 'Honda_RCV1000R',
 'Honeymoon',
 'Hoplostethus_druzhinini',
 'Hoplostethus_mento',
 'Humanoid_(альбом)',
 'Hybognathus_regius',
 'Hydac',
 'Hylomys_megalotis',
 'Hypsugo_dolichodon',
 'Hyundai_Xcient',
 'Hyundai_ix35',
 'I_Call_Your_Name_(a-ha)',
 "I'll_Fly_for_You",
 'IC_1011',
 'IC_1059',
 'IC_1065',
 'IC_1295',
 'IC_1318',
 'IC_1396',
 'IC_1517',
 'IC_167',
 'IC_1805',
 'IC_1848',
 'IC_2006',
 'IC_2149',
 'IC_2177',
 'IC_2220',
 'IC_2233',
 'IC_2391',
 'IC_2395',
 'IC_2448',
 'IC_2488',
 'IC_2497',
 'IC_2560',
 'IC_2714',
 'IC_289',
 'IC_298',
 'IC_3',
 'IC_335',
 'IC_3418',
 'IC_348',
 'IC_349',
 'IC_3568',
 'IC_405',
 'IC_4499',
 'IC_4526',
 'IC_4592',
 'IC_4604',
 'IC_4628',
 'IC_4651',
 'IC_4703',
 'IC_5146',
 'IC_5148',
 'IC_5332',
 'IC_883',
 'ICTV',
 'IDO2',
 'IEC_60870-5',
 'IFA_W50',
 'IFT27',
 'IGFLR1',
 'IGLL5',
 "III_з'їзд_РСДРП",
 'IMC_Global',
 'IMOCA',
 'INCA1',
 'INO80E',
 'INOGATE',
 'INPP5F',
 'INRI',
 'IPhone_8']

In [13]:
my_df.to_csv('40days100pages.csv')