In [1]:
from sqlalchemy import create_engine
import sys, os
import pandas as pd
from urllib.parse   import quote

In [2]:
constr = 'mysql+pymysql://{user}:{pwd}@{host}'.format(user=os.environ['MYSQL_USERNAME'],
                                                      pwd=os.environ['MYSQL_PASSWORD'],
                                                      host=os.environ['MYSQL_HOST'])
con = create_engine(constr)

In [17]:
title = "!T.O.O.H.!"

In [47]:
get_page_id = """
SELECT page_id,page_title 
FROM ukwiki_p.page 
WHERE page_title = "!T.O.O.H.!"
"""

In [58]:
all_incoming_links = """SELECT COUNT(pl_from), pl_title
FROM ukwiki_p.pagelinks
group by pl_title
"""

In [37]:
all_incoming = pd.read_sql(all_incoming_links, con)

In [41]:
df['COUNT(pl_from)'].max()

575366

In [39]:
all_incoming

         COUNT(pl_from)                                           pl_title
0                    67                                               b'!'
1                    42                                              b'!!'
2                     8                                             b'!!!'
3                     3                    b'!!!Fuck_You!!!_and_Then_Some'
4                     1  b'!!!_(\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xb1\xd0\xb...
5                     2  b'!!/\xd0\xb4\xd0\xbe\xd0\xba\xd1\x83\xd0\xbc\...
6                     2  b'!!/\xd0\xbf\xd1\x96\xd1\x81\xd0\xbe\xd1\x87\...
7                     2     b'!!/\xd1\x82\xd0\xb5\xd1\x81\xd1\x82\xd0\xb8'
8                     1                                     b'!!vdtfo8d!!'
9                     1                                           b'!!zaq'
10                    1                                      b'!!\xd1\x96'
11                   28                                              b'!('
12                   26                                             b'!(('
13                    2  b'!((/\xd0\xb4\xd0\xbe\xd0\xba\xd1\x83\xd0\xbc...
14                    1  b'!((/\xd0\xbf\xd1\x96\xd1\x81\xd0\xbe\xd1\x87...
15                    1    b'!((/\xd1\x82\xd0\xb5\xd1\x81\xd1\x82\xd0\xb8'
16                    2  b'!(/\xd0\x94\xd0\xbe\xd0\xba\xd1\x83\xd0\xbc\...
17                    2  b'!(/\xd0\xb4\xd0\xbe\xd0\xba\xd1\x83\xd0\xbc\...
18                    1  b'!(/\xd0\xbf\xd1\x96\xd1\x81\xd0\xbe\xd1\x87\...
19                    1     b'!(/\xd1\x82\xd0\xb5\xd1\x81\xd1\x82\xd0\xb8'
20                   11                                              b'!)'
21                    1  b'!)/\xd0\xb4\xd0\xbe\xd0\xba\xd1\x83\xd0\xbc\...
22                    1  b'!)/\xd0\xbf\xd1\x96\xd1\x81\xd0\xbe\xd1\x87\...
23                    1     b'!)/\xd1\x82\xd0\xb5\xd1\x81\xd1\x82\xd0\xb8'
24                    2                                              b'!+'
25                    1                                          b'!+/doc'
26                    1  b'!+/\xd0\x94\xd0\xbe\xd0\xba\xd1\x83\xd0\xbc\...
27                    1  b'!+/\xd0\xb4\xd0\xbe\xd0\xba\xd1\x83\xd0\xbc\...
28                    1  b'!+/\xd0\xbf\xd1\x96\xd1\x81\xd0\xbe\xd1\x87\...
29                    1     b'!+/\xd1\x82\xd0\xb5\xd1\x81\xd1\x82\xd0\xb8'
...                 ...                                                ...
3843784               2                                b'\xf0\x9f\x9b\xa2'
3843785               2                                b'\xf0\x9f\x9b\xa3'
3843786               2                                b'\xf0\x9f\x9b\xa4'
3843787               2                                b'\xf0\x9f\x9b\xa5'
3843788               2                                b'\xf0\x9f\x9b\xa6'
3843789               2                                b'\xf0\x9f\x9b\xa7'
3843790               2                                b'\xf0\x9f\x9b\xa8'
3843791               2                                b'\xf0\x9f\x9b\xa9'
3843792               2                                b'\xf0\x9f\x9b\xaa'
3843793               2                                b'\xf0\x9f\x9b\xab'
3843794               2                                b'\xf0\x9f\x9b\xac'
3843795               2                                b'\xf0\x9f\x9b\xb0'
3843796               2                                b'\xf0\x9f\x9b\xb1'
3843797               2                                b'\xf0\x9f\x9b\xb2'
3843798               2                                b'\xf0\x9f\x9b\xb3'
3843799               2                                b'\xf0\x9f\xa4\x90'
3843800               2                                b'\xf0\x9f\xa4\x91'
3843801               2                                b'\xf0\x9f\xa4\x92'
3843802               2                                b'\xf0\x9f\xa4\x93'
3843803               2                                b'\xf0\x9f\xa4\x94'
3843804               2                                b'\xf0\x9f\xa4\x95'
3843805               2                                b'\xf0\x9f\xa4\x96'
3843806               2                                b'\xf0\x9f\xa4\x97'
3843807               2                                b'\xf0\x9f\xa4\x98'
3843808               2                                b'\xf0\x9f\xa6\x80'
3843809               2                                b'\xf0\x9f\xa6\x81'
3843810               2                                b'\xf0\x9f\xa6\x82'
3843811               2                                b'\xf0\x9f\xa6\x83'
3843812               2                                b'\xf0\x9f\xa6\x84'
3843813               2                                b'\xf0\x9f\xa7\x80'

[3843814 rows x 2 columns]

In [42]:
all_incoming.to_csv('incoming_links.csv')

In [48]:
page_id = pd.read_sql(get_page_id, con)

In [49]:
page_id

   page_id     page_title
0   425157  b'!T.O.O.H.!'
1  2581821  b'!T.O.O.H.!'

In [50]:
outcoming_links = """SELECT COUNT(pl_title),pl_from
FROM ukwiki_p.pagelinks 
WHERE pl_from = 425157
GROUP BY pl_from
"""

In [54]:
all_outcoming_links = """SELECT COUNT(pl_title),pl_from
FROM ukwiki_p.pagelinks 
GROUP BY pl_from
"""

In [51]:
outcoming = pd.read_sql(outcoming_links, con)

In [52]:
outcoming

   COUNT(pl_title)  pl_from
0               22   425157

In [55]:
all_outcoming = pd.read_sql(all_outcoming_links, con)

In [56]:
all_outcoming

         COUNT(pl_title)  pl_from
0                     18        1
1                      1        2
2                    315        3
3                     69        4
4                      1        6
5                      1        9
6                    204       13
7                    372      584
8                     29      585
9                    124      586
10                    14      587
11                   419      588
12                    21      589
13                    26      590
14                   198      591
15                   389      592
16                    67      600
17                   181      601
18                    28      602
19                   319      603
20                    26      605
21                    88      606
22                   216      607
23                    26      608
24                   258      610
25                   286      612
26                    85      613
27                   173      615
28                   200      617
29                   111      618
...                  ...      ...
2227177                1  2761076
2227178               68  2761077
2227179               15  2761078
2227180                2  2761079
2227181               27  2761080
2227182                1  2761081
2227183               16  2761082
2227184               27  2761083
2227185               17  2761084
2227186               48  2761085
2227187               27  2761086
2227188                5  2761087
2227189                6  2761088
2227190               85  2761089
2227191               25  2761090
2227192               14  2761092
2227193                1  2761093
2227194                1  2761096
2227195               17  2761097
2227196               45  2761098
2227197               16  2761099
2227198              162  2761100
2227199               27  2761101
2227200                8  2761102
2227201                8  2761103
2227202               27  2761104
2227203                8  2761105
2227204                3  2761106
2227205                5  2761107
2227206               27  2761108

[2227207 rows x 2 columns]

In [57]:
all_outcoming.to_csv('outcoming_links.csv')