In [1]:
import pandas as pd

In [2]:
incoming_links = pd.read_csv('./data/incoming_links.csv')

In [3]:
incoming_links.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
incoming_links.head()

   incoming_links                      pl_title
0               7                             !
1               1                            !!
2               8                           !!!
3               3  !!!Fuck_You!!!_and_Then_Some
4               1                  !!!_(альбом)

In [5]:
outcoming_links = pd.read_csv('./data/outcoming_links.csv')

In [6]:
outcoming_links.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
outcoming_links.head()

   outcoming_links        page_title
0               18      ArnoLagrange
1                1         Esperanto
2              317  Головна_сторінка
3               69  Головна_сторінка
4                1         Wikipedia

In [8]:
translated = pd.read_csv('./data/Clean_df_timeseries.csv')

In [9]:
translated.shape

(167250, 7)

In [10]:
new_translated = pd.merge(translated, incoming_links, left_on='page_name', right_on='pl_title', how='left')

In [11]:
new_translated.drop('pl_title', axis=1, inplace=True)

In [12]:
new_translated.shape

(167250, 8)

In [13]:
all_translated = pd.merge(new_translated, outcoming_links, left_on='page_name', right_on='page_title', how='left')

In [14]:
all_translated.drop('page_title', axis=1, inplace=True)

In [15]:
all_translated.shape

(251040, 9)

In [16]:
all_translated.to_csv('./data/all_translated.csv')

In [17]:
not_translated = pd.read_csv('./data/Not_tranlated_timeseries.csv')

In [18]:
not_translated.shape

(149548, 7)

In [19]:
new_not_translated = pd.merge(not_translated, incoming_links, left_on='page_name', right_on='pl_title', how='left')

In [20]:
new_not_translated.drop('pl_title', axis=1, inplace=True)

In [21]:
new_not_translated.shape

(149548, 8)

In [22]:
all_not_tanslated = pd.merge(new_not_translated, outcoming_links, left_on='page_name', right_on='page_title', how='left')

In [23]:
all_not_tanslated.drop('page_title', axis=1, inplace=True)

In [24]:
all_not_tanslated.shape

(158368, 9)

In [25]:
all_not_tanslated.to_csv('./data/all_not_tanslated.csv')