In [4]:
from sqlalchemy import create_engine
import sys, os
import pandas as pd

constr = 'mysql+pymysql://{user}:{pwd}@{host}'.format(user=os.environ['MYSQL_USERNAME'],
                                                      pwd=os.environ['MYSQL_PASSWORD'],
                                                      host=os.environ['MYSQL_HOST'])
con = create_engine(constr)

q = "SELECT  \
    ips_item_id AS wikidata, \
    ips_site_page AS title \
FROM wikidatawiki_p.wb_items_per_site \
WHERE ips_site_id= 'ukwiki' \
AND  ips_item_id  NOT IN (\
        SELECT ips_item_id \
        FROM wikidatawiki_p.wb_items_per_site \
        WHERE ips_site_id= 'enwiki') LIMIT 100; "
df = pd.read_sql(q, con)

In [5]:
df

    wikidata                                              title
0   12061549  b'! (\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xb1\xd0\xbe\...
1    4027682               b'!\xd0\xa4\xd0\x95\xd0\xa1\xd0\xa2'
2   12061550       b'!\xd0\xa7\xd0\xb8\xd0\xb4\xd1\x80\xd0\xbe'
3   30196568                                     b'$uicideboy$'
4      11511                                             b'&RQ'
5    2445363                            b"'Cause You Are Young"
6   25447349                                    b"'Cichlasoma'"
7    4405243                                     b"'Lac Motion"
8   25441644  b"'\xd0\x90\xd0\xb1\xd0\xb4 \xd0\x90\xd0\xbb\x...
9       4477                                b'(10003) 1971 UD1'
10   3510045                              b'(100048) 1991 TE14'
11   1318949                              b'(172460) 2003 RT11'
12   1627264                                b'(184064) 2004 GM'
13   1627451                                b'(196297) 2003 FA'
14   8346497                                b'(199742) 2006 JD'
15   1115253                              b'(207028) 2004 VN60'
16   4828599                                b'(207548) 2006 LZ'
17   4757703                              b'(207690) 2007 RE19'
18   3511580                               b'(209635) 2005 BR1'
19   3510073                                b'(211489) 2003 KP'
20   3510034                              b'(211536) 2003 RR11'
21   3511590                               b'(211917) 2004 TG8'
22   3510060                              b'(213727) 2002 VF92'
23   3510021                               b'(213893) 2003 TN2'
24   3511595                               b'(213894) 2003 TP2'
25   4027831                               b'(29981) 1999 TD10'
26   1062265                                  b'(4772) 1989 VM'
27    634096                                 b'(4830) 1988 RG4'
28    904611                                 b'(5107) 1987 DS6'
29    709510                                b'(6016) 1991 PA11'
..       ...                                                ...
70  12061841  b'1 \xd0\x94\xd0\xb5\xd1\x87\xd0\xb5\xd0\xbc\x...
71  16685627      b'1 \xd0\x9c\xd0\xb0\xd0\xbc\xd0\xb8\xd1\x80'
72  12061837  b'1 \xd0\xa1\xd0\xba\xd0\xb0\xd1\x83\xd1\x82\x...
73  12061840  b'1 \xd0\xb3\xd1\x80\xd0\xb8\xd0\xb2\xd0\xbd\x...
74   9196253  b'1 \xd0\xb3\xd1\x80\xd0\xb8\xd0\xb2\xd0\xbd\x...
75   9283220  b'1 \xd0\xb3\xd1\x80\xd0\xb8\xd0\xb2\xd0\xbd\x...
76  12061838  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
77  20071234  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
78  20071235  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
79  20071236  b"1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
80  20071237  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
81  20071238  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
82  20071239  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
83  20071240  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
84  20071241  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
85  20071243  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
86  20071242  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
87  20071244  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
88  20071245  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
89  20071246  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
90  20071247  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
91  20071248  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
92  20071249  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
93  20071250  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
94  20071251  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
95  20071252  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
96  20071253  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
97  20071254  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
98  20071255  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...
99  20071256  b'1 \xd0\xba\xd0\xb0\xd1\x80\xd0\xb1\xd0\xbe\x...

[100 rows x 2 columns]

In [ ]:
q = "select count(*), ll_from from langlinks group by 2 order by 1 desc limit 20;"

In [3]:
from sqlalchemy import create_engine
import sys, os
import pandas as pd

constr = 'mysql+pymysql://{user}:{pwd}@{host}'.format(user=os.environ['MYSQL_USERNAME'],
                                                      pwd=os.environ['MYSQL_PASSWORD'],
                                                      host=os.environ['MYSQL_HOST'])
con = create_engine(constr)


df = pd.read_sql(q, con)

UnicodeEncodeError: 'latin-1' codec can't encode characters in position 52-55: ordinal not in range(256)

In [16]:
q = "select * from ukwiki_p.page where page_id = 10577"

In [25]:
page_title = df['page_title']

In [36]:
test = b'!\xd0\xa4\xd0\x95\xd0\xa1\xd0\xa2'

In [37]:
print(test.decode("utf-8"))

!ФЕСТ

In [38]:
print(q)

SELECT  ips_item_id AS wikidata, ips_site_page AS title FROM wikidatawiki_p.wb_items_per_site WHERE ips_site_id= 'ukwiki' limit 10

In [88]:
df

   pl_from  pl_namespace          pl_title  pl_from_namespace
0   154231             0  b'!Action_Pact!'                  0
1   243805             0  b'!Action_Pact!'                  0
2  1366003             0  b'!Action_Pact!'                  0
3  1767358             0  b'!Action_Pact!'                  0

In [31]:
print(page_title)

0    b'\xd0\xa7\xd0\xb5\xd1\x85\xd1\x96\xd0\xb2\xd1...
Name: page_title, dtype: object

In [33]:
q = "SELECT  ips_item_id AS wikidata, ips_site_page AS title FROM wikidatawiki_p.wb_items_per_site WHERE ips_site_id= 'ukwiki' limit 10"

In [63]:
title = b'!\xd0\xa4\xd0\x95\xd0\xa1\xd0\xa2'

In [65]:
q = 'SELECT COUNT(pl_from), pl_title\
FROM ukwiki_p.pagelinks\
WHERE pl_title = '+str(title)+'group by pl_title'

In [55]:
from urllib.parse   import quote

In [1]:
title = "!Фест"

In [66]:
print(q)

SELECT COUNT(pl_from), pl_titleFROM ukwiki_p.pagelinksWHERE pl_title = b'!\xd0\xa4\xd0\x95\xd0\xa1\xd0\xa2'group by pl_title

In [84]:
title = "!Action_Pact!"

In [2]:
q = 'SELECT * \
FROM ukwiki_p.pagelinks WHERE pl_title = "'+title+'" limit 20'

In [76]:
print(title)

b'!Action_Pact!'

In [86]:
print(q)

SELECT * FROM ukwiki_p.pagelinks WHERE pl_title = "!Action_Pact!" limit 20

In [4]:
from sqlalchemy import create_engine
import sys, os
import pandas as pd

constr = 'mysql+pymysql://{user}:{pwd}@{host}'.format(user=os.environ['MYSQL_USERNAME'],
                                                      pwd=os.environ['MYSQL_PASSWORD'],
                                                      host=os.environ['MYSQL_HOST'])
con = create_engine(constr)

In [10]:
q = "SELECT  count(* FROM wikidatawiki_p.wb_items_per_site WHERE ips_item_id = 4027682 "

In [ ]:
q = "SELECT  count(*), ips_item_id FROM wikidatawiki_p.wb_items_per_site GROUP BY ips_item_id"

In [20]:
q = "SELECT  \
    Main.ips_item_id AS wikidata, \
    Main.ips_site_page AS title, \
    Lang.lang_count \
FROM wikidatawiki_p.wb_items_per_site Main \
LEFT JOIN ( \
	SELECT  \
		count(*) as lang_count, \
		ips_item_id \
	FROM wikidatawiki_p.wb_items_per_site \
	GROUP BY ips_item_id \
) Lang \
ON Lang.ips_item_id = Main.ips_item_id \
WHERE Main.ips_site_id= 'ukwiki'"

In [21]:
df = pd.read_sql(q, con)

In [ ]:
df

In [2]:
sersCx = []
for lang1,lang2 in permutations(langs,2):
    query = """
    SELECT trans.cnt as cnt ,global.gu_id,global.gu_name as username FROM (SELECT translation_started_by,  count(translation_target_title) as cnt FROM cx_translations WHERE (translation_status = 'published' OR translation_target_url IS NOT null) AND  translation_target_language = '%s' AND translation_source_language='%s' GROUP BY translation_started_by ORDER BY count(translation_target_title) DESC LIMIT 5) AS trans INNER JOIN centralauth.globaluser as global ON global.gu_id = trans.translation_started_by WHERE cnt >10;
    """ % (lang1,lang2)
    tmp = pd.read_sql_query(query,engine)
    tmp['lang1'] = lang1
    tmp['lang2'] = lang2
    tmp['username'] = tmp.username.str.decode("utf-8")
    tmp['Translations'] = tmp.cnt
    usersCx.append(tmp[['username','lang1','lang2','Translations']][0:5])
outputCx= pd.concat(usersCx)

NameError: name 'permutations' is not defined